In [66]:
# 1.Daily covid cases

import warnings
warnings.simplefilter(action='ignore')

import pandas as pd
import numpy as np
import datetime

df=pd.read_excel(r'./DataSource/DailyUpdateForTG.xlsx',skiprows=1,sheet_name=1)
df['城市']=df['指标名称'].str.split(":").str[-1]
df=df.drop(columns=['指标名称','单位','来源','更新时间'])
df.to_hdf('Processed_Data/subway.h5',key='raw')

subway=pd.read_hdf('Processed_Data/subway.h5',key='raw')
subway=pd.melt(subway,id_vars=['城市'],var_name='date',value_name='subway')
subway=subway[subway['subway']>0]

subway['date'] = pd.to_datetime(subway['date']).dt.date
subway=subway.sort_values(by=['城市','date'],ascending=True)
subway['date']=subway['date'].astype('str')


def getdt(d):
    return str(d)[-5:]
subway['dt']=subway['date'].apply(getdt)

subway['subway_last7d_mean']=subway.groupby('城市')['subway'].transform(lambda x: x.rolling(7, 2).mean())
subway['subway_WoW']=subway['subway_last7d_mean']/subway.groupby('城市')['subway_last7d_mean'].transform(lambda x: x.shift(periods=7)) -1

c1=subway['date']>'2018-10-01'
c2=subway['date']<'2019-06-01'

sw_19=subway[c1&c2]
sw_19=sw_19[['城市', 'dt','subway_last7d_mean']]
sw_19['subway_last7d_mean']=sw_19.groupby('城市')['subway_last7d_mean'].transform(lambda x: x.shift(periods=-14)) #调整CNY
sw_19=sw_19.rename(columns={'subway_last7d_mean':'subway_19_rolling_mean'})

c2=subway['date'].str.contains('2022|2023')
sw_22=subway[c2]
sw_22=sw_22.merge(sw_19,how='left',on=['城市','dt'])

sw_22['subway_status']=sw_22['subway_last7d_mean']/sw_22['subway_19_rolling_mean']

sw_22

,城市,date,subway,dt,subway_last7d_mean,subway_WoW,subway_19_rolling_mean,subway_status
0,上海,2022-01-01,724.90,01-01,1025.257143,0.004043,1046.400000,0.979795
1,上海,2022-01-02,725.00,01-02,1042.085714,0.023387,1051.114286,0.991410
2,上海,2022-01-03,703.90,01-03,983.900000,-0.031377,1056.642857,0.931157
3,上海,2022-01-04,1164.90,01-04,989.714286,-0.025282,1061.385714,0.932474
4,上海,2022-01-05,1105.70,01-05,985.228571,-0.027703,1066.914286,0.923437
...,...,...,...,...,...,...,...,...
10442,长沙,2023-01-11,165.38,01-11,154.022857,0.239763,66.864286,2.303515
10443,长沙,2023-01-12,163.93,01-12,157.054286,0.211425,67.467143,2.327863
10444,长沙,2023-01-13,169.72,01-13,158.994286,0.185513,68.034286,2.336973
10445,长沙,2023-01-14,134.74,01-14,157.832857,0.162257,67.544286,2.336731
10446,长沙,2023-01-15,119.95,01-15,155.222857,0.120847,66.447143,2.336035

In [2]:
# # WoW vs. COVID
# %load_ext autoreload
# %autoreload 2
# from colored_list import dafeng_city,jidui_city,riqi
# riqi='2023-01-10'

# df_covid=pd.read_hdf('Processed_Data/Baidu_covid_progress.h5',key='raw')
# o=sw_22.merge(df_covid,on='城市',how='left')


# o=o[o['date']==riqi][o['subway_WoW']<1][['城市','progress_2','subway_WoW']] 

# o['size']=np.nan
# o['group']='其他'

# c1=o['城市'].isin(dafeng_city)
# o.loc[c1,'group']='本波疫情基本结束'

# o=o.sort_values(by='group',ascending=False)
# o.to_clipboard(index=False,header=None)
# print(riqi)

In [3]:
# # as of 2019 vs. COVID

# df_covid=pd.read_hdf('Processed_Data/Baidu_covid_progress.h5',key='raw')
# o=sw_22.merge(df_covid,on='城市',how='left')

# o=o[o['subway_status']<1.5][sw_22['date']==riqi]

# o=o[['城市','progress_2','subway_status']] 

# o['size']=np.nan
# o['group']='其他'

# c1=o['城市'].isin(dafeng_city)
# o.loc[c1,'group']='本波疫情基本结束'

# o=o.sort_values(by='group',ascending=False)
# o.to_clipboard(index=False,header=None)


# print(riqi)

In [13]:
%load_ext autoreload
%autoreload 2
from colored_list import dafeng_city,jidui_city,riqi
riqi='2023-01-14'

# 2.2 WoW vs. GDP
city_popu=pd.read_hdf('Processed_Data/citypopu.h5',key='raw2')
o=sw_22.merge(city_popu,on='城市',how='left')

o=o[o['date']==riqi][['城市','GDP','subway_WoW']] 

o['size']=np.nan
o['group']='其他'

c1=o['城市'].isin(dafeng_city)
o.loc[c1,'group']='本波疫情基本结束'

o=o.sort_values(by=['group','GDP'],ascending=False)
o.to_clipboard(index=False,header=None)
print(riqi)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
2023-01-14

In [14]:
# 2.2 as of 2019 vs. GDP
city_popu=pd.read_hdf('Processed_Data/citypopu.h5',key='raw2')
o=sw_22.merge(city_popu,on='城市',how='left')

o=o[o['subway_status']<2][sw_22['date']==riqi]
o=o[['城市','GDP','subway_status']] 

o['size']=np.nan
o['group']='其他'

c1=o['城市'].isin(dafeng_city)
o.loc[c1,'group']='本波疫情基本结束'

d=sw_22[sw_22['date']==riqi][['城市','date','subway_status']].reset_index(drop=True).rename(columns={'subway_status':'subway'})
d['date']=pd.to_datetime(d['date'])
d.to_hdf('Processed_Data/city_compare.h5',key='subway')


o=o.sort_values(by=['group','GDP'],ascending=False)
o.to_clipboard(index=False,header=None)
print(riqi)

2023-01-14

In [68]:
#TY copy to wkbk
# d1=pd.read_clipboard()
# d1.to_hdf('Processed_Data/tablehead.h5','subway')

d1=pd.read_hdf('Processed_Data/tablehead.h5','subway')
wkbk=pd.pivot_table(subway[subway['date']>='2023-01-11'],index='城市',columns='date',values='subway',aggfunc='mean').reset_index()
d1.merge(wkbk,how='left',on='城市').drop(columns=['城市']).to_clipboard(index=False)

In [67]:


first_tier='北京,上海,深圳,广州'.split(',')
second_tier='成都,西安,苏州,重庆,武汉,郑州,南京'.split(',')

sw_22.loc[sw_22['城市'].isin(first_tier),'citytier']='T1'
sw_22.loc[sw_22['城市'].isin(second_tier),'citytier']='T2'

bytier=sw_22.copy()
bytier['subway_last7d_mean']=bytier['subway_last7d_mean']*7
bytier['subway_19_rolling_mean']=bytier['subway_19_rolling_mean']*7
bytier=bytier.groupby(['citytier','date']).sum().reset_index()[['citytier','date','subway_last7d_mean','subway_19_rolling_mean']]
bytier['status']=bytier['subway_last7d_mean']/bytier['subway_19_rolling_mean']
bytier['status']=bytier['status'].transform(lambda x: x.rolling(7, 7).mean())
bytier=pd.pivot_table(bytier,index='date',columns='citytier',values='status',aggfunc='mean').reset_index()

alldata=sw_22.copy()
alldata['subway_last7d_mean']=alldata['subway_last7d_mean']*7
alldata['subway_19_rolling_mean']=alldata['subway_19_rolling_mean']*7
alldata=alldata[~alldata['citytier'].isnull()].groupby(['date']).sum().reset_index()[['date','subway_last7d_mean','subway_19_rolling_mean']]
alldata['status']=alldata['subway_last7d_mean']/alldata['subway_19_rolling_mean']
alldata['status']=alldata['status'].transform(lambda x: x.rolling(7, 7).mean())
alldata=alldata[['date','status']].rename(columns={'status':'all'})

bytier.merge(alldata,how='left',on='date').tail(80).to_clipboard(index=False)

In [57]:
sw_22

,城市,date,subway,dt,subway_last7d_mean,subway_WoW,subway_19_rolling_mean,subway_status,citytier
0,上海,2022-01-01,724.90,01-01,1025.257143,0.004043,1046.400000,0.979795,T1
1,上海,2022-01-02,725.00,01-02,1042.085714,0.023387,1051.114286,0.991410,T1
2,上海,2022-01-03,703.90,01-03,983.900000,-0.031377,1056.642857,0.931157,T1
3,上海,2022-01-04,1164.90,01-04,989.714286,-0.025282,1061.385714,0.932474,T1
4,上海,2022-01-05,1105.70,01-05,985.228571,-0.027703,1066.914286,0.923437,T1
...,...,...,...,...,...,...,...,...,...
10442,长沙,2023-01-11,165.38,01-11,154.022857,0.239763,66.864286,2.303515,NaN
10443,长沙,2023-01-12,163.93,01-12,157.054286,0.211425,67.467143,2.327863,NaN
10444,长沙,2023-01-13,169.72,01-13,158.994286,0.185513,68.034286,2.336973,NaN
10445,长沙,2023-01-14,134.74,01-14,157.832857,0.162257,67.544286,2.336731,NaN
10446,长沙,2023-01-15,119.95,01-15,155.222857,0.120847,66.447143,2.336035,NaN