In [4]:
import warnings
warnings.simplefilter(action='ignore')

import pandas as pd
import numpy as np
import datetime
city_popu=pd.read_hdf('./Processed_Data/citypopu.h5',key='raw2')
city_popu['城市']=city_popu['城市'].str.replace('市',"")
city_popu['常住人口']=pd.to_numeric(city_popu['常住人口'])

import os
dfo=pd.DataFrame()

for f in os.listdir('./DataSource/baiduindex_binyiguan/'):
    print(f)
    d=pd.read_csv('./DataSource/baiduindex_binyiguan\%s' % f)
    dfo=pd.concat([dfo,d],axis=0)
dfo=dfo.merge(city_popu,left_on='cityName',right_on='城市',how='left')
dfo['startDate']=pd.to_datetime(dfo['startDate'])
dfo

baiduindex_2018-1225_2022-1225_2022-12-26.csv
baiduindex_2022-12-26_2022-12-28_20221229.csv
baiduindex_2022-12-29_2022-12-29_20221230.csv
baiduindex_2022-12-30_2023-01-03_20230104.csv
baiduindex_2023-01-04_2023-01-05_20230106.csv
baiduindex_2023-01-06_2023-01-08_20230109.csv
baiduindex_2023-01-09_2023-01-11_20230112.csv
baiduindex_2023-01-12_2023-01-14_20230116.csv
baiduindex_2023-01-15_2023-01-16_20230117.csv

,searchKey,provinceName,cityName,startDate,endDate,all,pc,mobile,time,城市,GDP,人均可支配收入,常住人口
0,殡仪馆,贵州,贵阳,2021-12-25,2021-12-25,61.0,NaN,61.0,2022-12-26 16:12:21,贵阳,4312.0,40305.0,451.0
1,殡仪馆,贵州,贵阳,2021-12-26,2021-12-26,61.0,NaN,61.0,2022-12-26 16:12:21,贵阳,4312.0,40305.0,451.0
2,殡仪馆,贵州,贵阳,2021-12-27,2021-12-27,70.0,NaN,70.0,2022-12-26 16:12:21,贵阳,4312.0,40305.0,451.0
3,殡仪馆,贵州,贵阳,2021-12-28,2021-12-28,70.0,NaN,70.0,2022-12-26 16:12:21,贵阳,4312.0,40305.0,451.0
4,殡仪馆,贵州,贵阳,2021-12-29,2021-12-29,63.0,NaN,63.0,2022-12-26 16:12:21,贵阳,4312.0,40305.0,451.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146500,殡仪馆,河北,张家口,2023-01-16,2023-01-16,118.0,57.0,61.0,2023-01-17 11:24:05,张家口,1600.0,35595.0,177.0
146501,殡仪馆,福建,漳州,2023-01-15,2023-01-15,60.0,NaN,60.0,2023-01-17 11:24:15,漳州,4546.0,40008.0,93.0
146502,殡仪馆,福建,漳州,2023-01-16,2023-01-16,65.0,NaN,65.0,2023-01-17 11:24:15,漳州,4546.0,40008.0,93.0
146503,殡仪馆,广东,肇庆,2023-01-15,2023-01-15,61.0,NaN,61.0,2023-01-17 11:24:25,肇庆,2311.0,34752.0,167.0
146504,殡仪馆,广东,肇庆,2023-01-16,2023-01-16,NaN,NaN,NaN,2023-01-17 11:24:25,肇庆,2311.0,34752.0,167.0

In [5]:
dfo[dfo['startDate'].astype('str')>'2023-01-02']

,searchKey,provinceName,cityName,startDate,endDate,all,pc,mobile,time,城市,GDP,人均可支配收入,常住人口
144738,殡仪馆,福建,漳州,2023-01-03,2023-01-03,65.0,NaN,65.0,2023-01-04 16:12:58,漳州,4546.0,40008.0,93.0
144743,殡仪馆,重庆,重庆,2023-01-03,2023-01-03,196.0,61.0,135.0,2023-01-04 16:38:32,重庆,25003.0,40006.0,2542.0
144748,殡仪馆,北京,北京,2023-01-03,2023-01-03,367.0,129.0,238.0,2023-01-04 16:38:35,北京,36103.0,75602.0,2189.0
144753,殡仪馆,广东,广州,2023-01-03,2023-01-03,230.0,91.0,139.0,2023-01-04 16:38:38,广州,25019.0,68304.0,1874.0
144758,殡仪馆,辽宁,大连,2023-01-03,2023-01-03,86.0,NaN,86.0,2023-01-04 16:38:41,大连,7030.0,47380.0,574.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146500,殡仪馆,河北,张家口,2023-01-16,2023-01-16,118.0,57.0,61.0,2023-01-17 11:24:05,张家口,1600.0,35595.0,177.0
146501,殡仪馆,福建,漳州,2023-01-15,2023-01-15,60.0,NaN,60.0,2023-01-17 11:24:15,漳州,4546.0,40008.0,93.0
146502,殡仪馆,福建,漳州,2023-01-16,2023-01-16,65.0,NaN,65.0,2023-01-17 11:24:15,漳州,4546.0,40008.0,93.0
146503,殡仪馆,广东,肇庆,2023-01-15,2023-01-15,61.0,NaN,61.0,2023-01-17 11:24:25,肇庆,2311.0,34752.0,167.0
146504,殡仪馆,广东,肇庆,2023-01-16,2023-01-16,NaN,NaN,NaN,2023-01-17 11:24:25,肇庆,2311.0,34752.0,167.0

In [11]:
c1=dfo['startDate']>'2022-11-01'
by=dfo[c1][['cityName','startDate','all','常住人口']]

# datelist=by['startDate'].drop_duplicates().sort_values()[-20:]

def get_status(x):
    now=float(x['now'])
    max=float(x['max'])
    per=now/max
    if x['startDate']<=x['max_date']:
        return '0 未达峰'
    else:
        if per >0.8:
            return '1 下降至 80-100%'
        if 0.5<per <=0.8:
            return '2 下降至 50-80%'
        if 0.3 <per <=0.5:
            return '3 下降至 20-50%'
        if per<=0.3:
            return '4 下降至 20%以下'


# c2=by['startDate']=='2022-12-28'
d1=by.rename(columns={'all':'now'})
d2=by.groupby(by='cityName')['all'].max().reset_index().rename(columns={'all':'max'})
d2=d2.merge(d1.sort_values(by=['cityName','startDate']).drop_duplicates(subset=['cityName','now']),left_on=['cityName','max'],right_on=['cityName','now'],how='left').rename(columns={'startDate':'max_date'})
df=d1.merge(d2[['cityName', 'max', 'max_date']],on='cityName',how='left')

df['status']=df.apply(lambda x:get_status(x),axis=1)

pv_value=pd.pivot_table(df.drop_duplicates(), values='常住人口', index=['startDate'],columns=["status"], aggfunc=np.sum)
pv_value=pv_value.div(pv_value.sum(axis=1), axis=0)

pv_value['0 sum']=1
pv_value=pv_value.fillna(0)
pv_value=pv_value.sort_index(axis=1)

pv_value.tail(15).to_clipboard(header=None)

In [7]:
# d1=pd.read_clipboard()
# d1.to_hdf('Processed_Data/tablehead.h5','BYG')

d1=pd.read_hdf('Processed_Data/tablehead.h5','BYG')
d2=pd.pivot_table(dfo[dfo['startDate'].astype('str')>='2023-01-11'],index='cityName',columns='startDate',values='all',aggfunc='mean')
d1.merge(d2,how='left',on='cityName').drop(columns='cityName').to_clipboard(index=False)